package views

import "chatroom/app"

templ Groups(messages []app.Message, session app.UserSession, group app.Group) {
	@Layout(messages, session) {
		<div class="justify-between" style="height: calc(100vh - 200px)">
			@Messages(messages, session, group)
		</div>
	}
}
