<!DOCTYPE html>
<html data-theme="valentine">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="public/main.js"></script>
</head>
<body>
    <main class="container max-w-screen-lg mx-auto">
        {{ $currentUser := .CurrentUser}}
        {{if eq $currentUser ""}}
            {{template "login"}}
            <div class="toast hidden" id="errorMsg"></div>
            </main>
        {{else}}
            {{template "navbar" .}}
            <div class="flex flex-col w-full lg:flex-row -full max-h-96">
                <div class="flex-grow card bg-base-300 rounded-box p-2 overflow-scroll">
                    <p class="text-lg font-bold text-center">Users</p>
                    <ul class="overflow-scroll">
                        {{range .Users}}
                            <li class="py-2 p-4 rounded-lg mb-2 bg-base-100">{{.Name}}</li>
                        {{end}}
                    </ul>
                </div> 
                <div class="divider lg:divider-horizontal"></div> 
                <div class="grid flex-grow card bg-base-300 rounded-box p-2 overflow-scroll">
                    <a class="text-lg font-bold text-center">Messages</a>
                    {{template "chatroom" .}}
                </div>
            </div>
        {{end}}
    <script>

        var container = document.getElementById('textchat');
        container.scrollTop = container.scrollHeight;


        let value = localStorage.getItem('theme');
        var htmlElement = document.querySelector('html');
        htmlElement.setAttribute('data-theme', value);

        let error = getCookie("error");
        if(error != ''){
            let toast = document.getElementById('errorMsg');
            toast.classList.remove('hidden');
            toast.innerHTML =
            `<div class="alert alert-danger">
            <span>`+error+`</span>
            </div>`
        }
        removeCookie('error');

        let nameCookie = getCookie('name');
        let messageField = document.getElementById(nameCookie)
        if(messageField != null){
            messageField.classList.remove('chat-start')
            messageField.classList.add('chat-end')
        }

        if(nameCookie != ''){
            document.getElementById('userform')?.classList.add('hidden')
            document.getElementById('username').innerHTML = nameCookie
        }

        function logout(){
            document.getElementById('userform')?.classList.remove('hidden')
            document.getElementById('username')?.parentElement?.classList.add('hidden')
            removeCookie('name');
            window.location.reload();
        }

        function setTheme(value){
            localStorage.setItem('theme', value);
        }

    </script>
</body>
</html>