package views

import "chatroom/app"

templ LeftPanel(keycloak_users []app.KeyCloakUser, groups []app.Group){
    <div class="w-1/3">
        @KeyCloakGroups(keycloak_users, groups)
        @GroupForm()
    </div>
}