package views

import "chatroom/app"

templ RightPanel(session app.UserSession, messages []app.Message, group app.Group) {
	<div class="w-2/3 ml-4" id="rightPanel">
		if group.ID != ""{
			if group.ParentGroup == app.PublicGroupID {
				@Messages(messages, session, group, group.Name, "public")
			} else if group.ParentGroup == app.PersonalGroupID {
				@Messages(messages, session, group, chatName(group.Name), "personal")
			}
		}
	</div>
}
