package views

import "chatroom/app"

templ RightPanel(session app.UserSession, messages []app.Message, group app.Group) {
	<div class="w-2/3 ml-4" id="rightPanel">
		if group.ID != ""{
			@Messages(messages, session, group)
		}
	</div>
}
