{{define "chatroom"}}
	{{ $currentUser := .CurrentUser}}
	<script>
		const currentUser = "{{$currentUser}}";
	</script>
	<div class="overflow-scroll" id="textchat">
	{{range .Messages}}

		{{if eq $currentUser .Name}}
			<div class="chat chat-end" id="{{ .Name }}">
				<div class="chat-header">
					<span class="capitalize">{{.Name}}</span>
					<!-- <time class="text-xs opacity-50">{{formatTime .TimeStamp}}</time> -->
				</div>
				<div class="chat-bubble">{{.Text}}</div>
				<!-- <div class="chat-footer opacity-50">Seen</div> -->
			</div>
		{{else}}
			<div class="chat chat-start" id="{{ .Name }}">
				<div class="chat-header">
					<span class="capitalize">{{.Name}}</span>
					<!-- <time class="text-xs opacity-50">{{formatTime .TimeStamp}}</time> -->
				</div>
				<div class="chat-bubble">{{.Text}}</div>
				<!-- <div class="chat-footer opacity-50">Seen</div> -->
			</div>
		{{end}}
	{{end}}
	</div>
	<div>
	{{if eq $currentUser ""}}
	{{else}}
		{{template "messageform"}}
	{{end}}
	</div>
{{end}}
