{{define "chatroom"}}
	{{ $currentUser := .CurrentUser}}
	<script>
		const currentUser = "{{$currentUser.Name}}";
		console.log(currentUser)
	</script>
	<div id="textchat">
	{{range .Messages}}

		{{if eq $currentUser.Name .Name}}
			<div id="{{.Name}}">
				<div>Me: {{.Text}}</div>
			</div>
		{{else}}
			<div id="{{.Name}}">
				<div>{{.Name}}: {{.Text}}</div>
			</div>
		{{end}}
	{{end}}
	</div>
	<div>
	{{if eq $currentUser.Name ""}}
	{{else}}
		{{template "messageform"}}
	{{end}}
	</div>
{{end}}
