{{define "messageform"}}
<form method="post" action="/message" id="messageform">
  <input type="text" placeholder="Messages" class="input input-bordered" id="message_input" name="message"/>
</form>

<script>
  window.onload = function() {
      document.getElementById('message_input').focus();
  };

  document.getElementById('messageform').addEventListener('submit', function(event) {
    event.preventDefault();
    var message = document.getElementById('message_input');
    if(message.value == ""){
      return
    }
    try {
      ws.send(message.value);
      message.value = "";
    } catch (error) {
      console.error('Error while sending WebSocket message:', error);
    }

});
</script>
{{end}}
