<!DOCTYPE html>
<html data-theme="valentine">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="public/style.css"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="public/main.js"></script>
    <script src="public/socket.js"></script>
    <script src="public/messages.js"></script>
</head>
<body>
    <main>
        {{template "navbar" .}}
        <div>
            <p>Users</p>
            <ul id="users_list">
                {{range .Users}}
                    <li id="user_{{.ID}}">
                        <span class="{{if .IsOnline}}online{{end}}" id="status_{{.Name}}"></span>
                        {{.Name}}
                    </li>
                {{end}}
            </ul>
            <hr/>
            <div>
                <p>Messages</p>
                {{template "chatroom" .}}
            </div>
        </div>
    </main>

    <script>
        var container = document.getElementById('textchat');
        container.scrollTop = container.scrollHeight;


        let value = localStorage.getItem('theme');
        var htmlElement = document.querySelector('html');
        htmlElement.setAttribute('data-theme', value);

        let nameCookie = getCookie('session_id');
        let messageField = document.getElementById(nameCookie)
        if(messageField != null){
            messageField.classList.remove('chat-start')
            messageField.classList.add('chat-end')
        }

        if(nameCookie != ''){
            document.getElementById('userform')?.classList.add('hidden')
        }

        function logout(){
            document.getElementById('userform')?.classList.remove('hidden')
            removeCookie('session_id');
            window.location.reload();
        }

        function setTheme(value){
            console.log(value);
            localStorage.setItem('theme', value);
        }

    </script>
</body>
</html>