{{define "navbar"}}
{{ $currentUser := .CurrentUser}}
<div>
  <div>Chatroom</div>
  <div>
    <div>
      <span id="active_button">Online</span>
      <a href="http://localhost:9000/realms/chatroom/account/#/" target="_blank">
        {{$currentUser.Name}}
      </a>
    </div>

    <form action="http://localhost:9000/realms/chatroom/protocol/openid-connect/logout" method="post">
      <input type="hidden" value="chatroom" name="client_id" />
      <input name="post_logout_redirect_uri" value="http://localhost:8080/logout" type="hidden" />
      <input type="submit" value="Logout" />
    </form>
    <div>
      <div>Theme</div>
      <select onchange="setTheme(this.value)">
        <option value="retro">retro</option>
        <option value="cyberpunk">cyberpunk</option>
        <option value="valentine">valentine</option>
        <option value="aqua">aqua</option>
      </select>
    </div>
  </div>
</div>
</div>
{{end}}